.App {
    max-width: 600px;
    margin: 20px auto;
    padding: 10px;
    background-color: rgb(20, 1, 20);
}

.App footer {
    font-size: 11px;
    margin: 5px 0;
    text-align: center;
    color: white;
}

a {
    text-decoration: none;
}

