.Weather {
    font-family:Arial, Helvetica, sans-serif ;
    border: 2px solid white;
    padding: 16px;
    margin-top: 10px;
    border-radius: 6px;
    background-image: url(https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/f694153b-0cdc-4440-bc07-714be9aad4dc/d9x4wvb-23bf1732-96f7-4aba-8f43-867130c4440a.jpg/v1/fill/w_1024,h_792,q_75,strp/clouds_painting_by_tmarimmeubashim_d9x4wvb-fullview.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7ImhlaWdodCI6Ijw9NzkyIiwicGF0aCI6IlwvZlwvZjY5NDE1M2ItMGNkYy00NDQwLWJjMDctNzE0YmU5YWFkNGRjXC9kOXg0d3ZiLTIzYmYxNzMyLTk2ZjctNGFiYS04ZjQzLTg2NzEzMGM0NDQwYS5qcGciLCJ3aWR0aCI6Ijw9MTAyNCJ9XV0sImF1ZCI6WyJ1cm46c2VydmljZTppbWFnZS5vcGVyYXRpb25zIl19.F0FllUGKrurAghLdu01rj0S5WUjdbPVMNfyhBrqaN1M);
    background-color: pink;
    
    
}

.Weather h1 {
    font-size: 24px;
    font-weight: 100;
    line-height: 29px;
    margin: 20px 0 0 0;
    
}

.Weather ul {
    margin: 0;
    padding: 0;
}

.Weather li {
    font-size: 16px;
    font-weight: 100;
    line-height: 19px;
    list-style: none;
}

.Weather canvas {
    height: 52px;
    margin-top: 5px;
    margin-right: 5px;
    display: inline-block;
    
}

.Weather .temperature {
    font-weight: bold;
    color: rgb(33, 33, 33);
    font-size: 64px;
    line-height: 64px;
    margin-left: 5px;
    font-weight: 400;
    margin-left: 5px;
  }

  .Weather .unit {
    color: rgb(33, 33, 33);
    font-size: 16px;
    font-weight: 400;
    position: relative;
    line-height: 1;
    top: -34px;
  }

  